<ul class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Лист заявок</a></li>
  <li class="breadcrumb-item"><a href="/rigs">View the Rigs</a></li>
  <li class="breadcrumb-item active">{{title}}</li>
</ul>
<div class="col-sm-4">
    <form method='POST' action='/rigs/save'>
        <div class="form-inline form-inline-custom">
            <label for="oilfield">Rig Number:</label>
            <input type="number" class="form-control" name="rig_num" placeholder="for example: 12345">
        </div>
        <div class="form-inline form-inline-custom">
            <label for="rig_num">Rig Type:</label>
            <input type="text" class="form-control" name="rig_type" placeholder="for example: УБК-250 МК-Ч">
        </div>
        <button type="submit" class="btn btn-primary btn-block">Submit</button>
    </form>
</div>