<!doctype html>
<html lang="en">

<head>
  <title>{{title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-tofit=no">
  <link rel="stylesheet" href="/assets/vendor/normalize/normalize.css">
  <link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/vendor/fontawesome/css/all.css">
  <link rel='stylesheet' href='/assets/stylesheets/style.css' />
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-2 sidebar">
        <aside>
          <a class="navbar-brand" href="/">BAZIS</a>
          {{> sidebar}}
        </aside>
      </div>
      <div class="col-xl-10">
        {{> header }}
        {{{body}}}
      </div>
    </div>
  </div>
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="/assets/vendor/jquery/jquery.min.js"></script>
  <script src="/assets/vendor/popper.js/popper.min.js"></script>
  <script src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="/assets/vendor/fontawesome/js/all.js"></script>
  <script src="/assets/vendor/babel/polyfill.min.js"></script>
</body>

</html>